*._*
*.aux
.bazel
bazel-*
*.bbl
*.blg
*.brf
.coverage
.DS_Store
*.egg-info
_ext
*.gz
.idea
.ijwb
*ipynb_*
.isort.cfg
*.jpg
*.log
*.o
*.out
*.pdf
*.png
.project
*.pth.tar
*.pyc
**/__pycache__/
.pydevproject
*.so
.vscode/*
*.swp
.tox/*
.pytest_cache/*
docs/_build/
docs/generated/
# Ignore benchmark results
planner_benchmark/results/

maps/*

# Ignore data cache
data/cache/

# Ignore cache exports
cache/mini/csv_exports/